@page "/Login"

@using tier1.Data
@using tier1.Data.Impl
@namespace LoginComponent

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<AuthorizeView>
    <NotAuthorized>
        <div class="form-group">
            <label>User name:</label>
            <input type="text" placeholder="user name" @bind-value="username"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="password" @bind-value="password"/>
        </div>
        <button @onclick="PerformLogin">
            Login
        </button>
        <div style="color:red">@message</div>
        <a></a>
        <a></a>
        <a href="Register"> New user? Register now!</a>
    </NotAuthorized>
    <Authorized>
        <button @onclick="PerformLogout">
            Log out
        </button>
        <div><label> @message</label></div>
    </Authorized>
</AuthorizeView>

@code {
    private string username;
    private string password;
    private string message;
    IUserService userService=new userService();
    
    public async Task PerformLogin() {
        message = "";
        try {
            string ok=userService.ValidateUser(username,password);
            if (ok.Contains("Username or password is incorrect"))
            {
                message = ok;
            }
            else
            {
                NavigationManager.NavigateTo("/MyHomePage");
                message = "Login succeed!";
            }
           
        } catch (Exception e) {
            message = e.Message;
        }
        Console.WriteLine("login");
    }

    public async Task PerformLogout() {
        message = "";
        username = "";
        password = "";
        try
        {
            
            NavigationManager.NavigateTo("/Login");
            message = "Logout succeed!";

        }
        catch (Exception e)
        {
            message = e.Message;
        }
    }

    public async Task PerformRegister(string username, string password)
    {

        userService.RegisterUser(username, password);
        
        
        
    }
    
    
    
    

}